<!DOCTYPE HTML>
<html ng-app="myApp">
	<head>
		<title>Juan Pablo Riano .:. Web Developer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/font-awesome/font-awesome.min.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<script src="assets/js/lib/angular.min.js"></script>
		<script src="assets/js/lib/angular-route.min.js"></script>
		<script src="assets/js/lib/angular-animate.min.js"></script>
		<script src="assets/js/controllers.js"></script>
		<script src="assets/js/app.js"></script>
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">Juan Pablo Riano</h1>
							<p>Web Developer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>

								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>

								<li><a href="#skills" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-tasks">Skills</span></a></li>

								<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>

								<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://twitter.com/jp_riano" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://github.com/juanpablor" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://ca.linkedin.com/in/jpriano" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
							<li><a href="mailto:juanpablo@riano.ca?subject=Hi JP, I'd like to contact you!" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Juan Pablo Riano</strong>,<br />Web Developer</a></h2>
								I’m passionate about the power of content in<br /> developing over Content Managment Systems and some of them<br /> (as Umbraco, Open Cart, Joomla! and others...) offers me endless<br /> fascinating possibilities in devising just the right solution<br /> for companies all around the world.
							</header>

							<footer>
								<a href="#about" class="button scrolly">Let's go!</a>
							</footer>

						</div>
					</section>


				<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a class="image featured"><img src="images/pic08.jpg" alt="" /></a>

							<p>I am a front-end developer, graduate of Web Development and E-commerce and Industrial Design. I have 8+ years commercial experience working with clients in North and South America, providing responsive frontend development and CMS integrations.</p>

							<p>I develop using transition and animations that suit my clients, using the most sophisticated technologies available today for fully interactive and responsive websites and apps.</p>

						</div>
					</section>


				<!-- Skills -->
					<section id="skills" class="three">
						<div class="container">

							<header>
								<h2>Skills</h2>
							</header>

							<a class="image featured"><img src="images/pic08.jpg" alt="" /></a>


							<section class="jpr-item 4u 12u$(mobile)">
								<h4>Frontend</h4>
								<ul class="-2u 8u 12u$(mobile)">
									<li>HTML5</li>
									<li>CSS3</li>
									<li>Sass</li>
									<li>Git/Svn</li>
									<li>JavaScript</li>
									<ul class="sub-list">
										<li>jQuery</li>
										<li>AngularJS</li>
										<li>NodeJS</li>
									</ul>
									<li>Vector Graphics</li>	
									<ul class="sub-list">
										<li>SVG</li>
										<li>EPS</li>
									</ul>							
								</ul>
							</section>

							<section class="jpr-item 4u 12u$(mobile)">
								<h4>Backend</h4>
								<ul class="-2u 8u 12u$(mobile)">
									<li>PHP</li>
									<li>MySQL</li>
									<li>Razor</li>
									<li>CMS</li>
									<ul class="sub-list">
										<li>Umbraco</li>
										<li>OpenCart</li>
										<li>Sitecore</li>
										<li>ExpressionEngine</li>
										<li>Joomla!</li>
										<li>Worpress</li>
									</ul>
								</ul>
							</section>

							<section class="jpr-item 4u 12u$(mobile)">
								<h4>3D Modeling</h4>
								<ul class="-2u 8u 12u$(mobile)">
									<li>AutoCAD</li>
									<li>SolidWorks</li>
									<li>SolidEdge</li>
									<li>Inventor</li>
									<li>Rhino</li>
									<li>PowerShape</li>
									<li>Art-Cam</li>
								</ul>
							</section>
						</div>
					</section>


				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header class="portfolioSpace">
								<h2>Portfolio</h2>
							</header>

							<a class="image featured"><img src="images/pic08.jpg" alt="" /></a>


							<div class="searchBar 8u 10u$(mobile)">
								<input class="searchBar 8u 10u$(mobile)" type="text" placeholder="Search" ng-model="query">

								<label class="formgroup">
									<select class="4u 12u$(mobile)" ng-model="worksOrder">
										<option value="{{worksOrder}}">Name</option>
										<option value="date">Year</option>
									</select>
								</label>

								<label class="3u 3u$(mobile) formgroup">
									<input type="radio" ng-model="direction" name="direction" checked>
									ascending
								</label>
								<label class="3u 3u$(mobile) formgroup">
									<input type="radio" ng-model="direction" name="direction" value="reverse">
									descending
								</label>

							</div>

							<div class="row" ng-view></div>

						</div>
					</section>


				<!-- Contact -->
					<section id="contact" class="three">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<h3>Do you want more details or leave a comment?</h3>
							<p>Feel free to email me, or drop me a line in Twitter!</p>
							<a href="mailto:juanpablo@riano.ca?subject=Hi JP, I'd like to contact you!">juanpablo@riano.ca</a>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<p class="copyright" ng-app ng-controller="dateFooter">
						&copy; {{date | date:'yyyy'}} Juan Pablo Riano, All rights reserved.</p>

			</div>

		<!-- Scripts -->
			<script src="assets/js/lib/jquery.min.js"></script>
			<script src="assets/js/lib/jquery.scrolly.min.js"></script>
			<script src="assets/js/lib/jquery.scrollzer.min.js"></script>
			<script src="assets/js/lib/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>