//    Font Family
$primary-font: Helvetica Neue, Helvetica, Arial, sans-serif; 

/*--------------------------- Color variations ----------------------*/

// $primary-color	:   #3bacf0;
$primary-color : #439f7e;
$serondary-color	: #88d200;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;






